{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="page-body">
    <div class="title-header title-header-1">
        <h5>Coupon List</h5>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class="table-responsive table-desi">
                                <table class="user-table coupon-list-table table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Coupon</th>
                                            <th>Title</th>
                                            <th>Code</th>
                                            <th>Discount</th>
                                            <th>Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for coupon in coupon_list %}
                                        <tr>
                                            <td>{{ coupon.pk }}</td>
                                            <td>{{ coupon.title }}</td>
                                            <td>{{ coupon.code }}</td>
                                            <td class="theme-color">{{ coupon.discount_percent }}</td>
                                            <td class="menu-status">
                                                {% if coupon.is_active %}
                                                    <span style="color: green" class="success">Active</span>
                                                {% else %}
                                                    <span style="color: red" class="inactive">Inactive</span>
                                                {% endif %}
                                            </td>
                                            <td class="menu-status">
                                                <a href="{% url 'coupons:edit_coupon' coupon.pk %}" class="text-info">
                                                    <i class="fas fa-edit"></i> 
                                                </a>
                                                <a href="{% url 'coupons:delete_coupon' coupon.pk %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this coupon?')">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  {# pagination part #}
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
{% endblock %}
