{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-body">
    <div class="title-header">
        <h5>Products List</h5>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class="table-responsive table-desi table-product">
                                <table class="table table-1d all-package">
                                    <thead>
                                        <tr>
                                            <th>Product Image</th>
                                            <th>Product Name</th>
                                            <th>Category</th>
                                            <th>Brand</th>
                                            <th>Price</th>
                                            <th>Product Type</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for object in object_list %}
                                        <tr>
                                            <td>
                                                <img src="{{ object.image.url.path }}" class="img-fluid" alt="">
                                            </td>

                                            <td>
                                                <a href="javascript:void(0)">{{ object.name }}</a>
                                            </td>

                                            <td>
                                                <a href="javascript:void(0)">{{ object.category }}</a>
                                            </td>

                                            <td>{{ object.brand }}</td>

                                            <td class="td-price">${{ object.price }}</td>
                                            <td class="td-price">{{ object.product_type }}</td>
                                            

                                            <td class="menu-status">
                                                <a href="{% url 'products:product-edit' object.pk %}" class="text-info">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="{% url 'products:product-delete' object.pk %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this product?')">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-box">
                        <nav class="ms-auto me-auto" aria-label="...">
                            <ul class="pagination pagination-primary">
                                {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
